<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{{ site_title }}{% if meta.title %} :: {{ meta.title }}{% endif %}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/screen.css" type="text/css" />
     <link rel="shortcut icon" href="{{ theme_url }}/img/favicon.ico" />
</head>
<body class="index">
    <div class="wrapper">

    <header id="header">
        <div class="container heading margins-vert">
         <h1>Codehub</h1>
            <a href="/"><img class="codehub-logo" src="{{ theme_url }}/img/codehub.svg" onerror="this.src='{{ theme_url }}/img/codehub.png'" alt="CodeHub logo"></a>
        <nav>
          <div class="flex-nav">
          <ul>
            <li {% if meta.title == "Formats" %} class="current" {% endif %}><a href="/activities">Activities</a></li>
            <li {% if meta.title == "Sponsoring" %} class="current" {% endif %}><a href="/sponsoring">Sponsoring</a></li>
            <li {% if meta.title == "Code of Conduct"%} class="current" {% endif %} ><a href="/code-of-conduct">Code of Conduct</a></li>
          </ul>
          </div>
        </nav>
        </div>
    </header>

    <div class="container">
        <div class="main-content">
            <section class="main-content section">
                {{ content }}
            </section>
        </div>

    </div>

    <div class="container">
        <footer id="footer">
           CodeHub 2019
        </footer>
    </div>
  </div>
</body>
</html>
